{% extends "layout.html" %}
{% block content %}

<body>
    <script src="/static/javascript/scripts.js" type="text/javascript"> </script>


<!-- Fixed bottom div -->
    <div class="col fixed-bottom">
        <div class="row pt-2 ps-2 pe-2 pb-2 bg-dark text-end">
            <section class="bg-dark">
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">Spara ditt lag</button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#resetModal">Återställ</button>
            </section>
        </div>
    </div>
    <div>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>

<!-- Team table -->
    <!-- <div>
    </div>
    <script src="/static/javascript/starts.js" type="text/javascript">
        $(function () (
            $("pivotable").load("pivot.html");
        ));
    </script>
</body> -->
{% endblock content %}